/* ==========================================================================
   p3.turkeyumber.com styles
   ========================================================================== 
        Colors: 
*/

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.25em;
}

body {
    background-color: rgb(220,242,253);
    width: 100%;
    overflow: hidden;
}

p {
    font-size: 1em;
    font-weight: 400;
    color: #555;
    position: relative;
}

a {
    text-decoration: none;
    color: rgb(132,34,60);
}

/* PAGE HEAD */
header {
    height: 100px;
    width: 200px;
    background-color: #666;
    float: left;
    position: relative;
}

.logo {
    position: relative;
    display: block;
    margin: 0 auto;
}

/* PAGE CONTENT */
.mainwrap {
    float: left;
    left: 50%;
    position: relative;
}
.contentwrap {
    width: 740px;
    background-color: #FFF;
    margin: 0 auto;
    padding: 30px;
    display: block; 
    position: relative;
    float: left;
    right: 50%;
}

/* Main content divs */
#list, #data {
    border:1px solid black;
    width: 325px;
    min-height:400px;
    position: absolute;
    background-color: #fff;
    top:140px;
    right: 30px;
    padding: 5px 10px;
    }

#list {
    z-index: 1;
    }

#data {
    z-index: 2;
    }

#blender {
    background: url(../images/blender.png) no-repeat;
    float:left;
    position: relative;
    width: 368px;
    height: 674px;
    margin-right: 30px;
    }

#clear {
    background: blue;
    width:50px;
    height:50px;
    float:right;
    top:0;
    position: relative;
    z-index: 5;
    }

/* Blender internal divs */
#canvas{
    position: absolute;
    bottom:200px;
    left: 38px;
    z-index: 1;
    }

#liquid{
    position: absolute;
    bottom:200px;
    left: 38px;
    width: 250px;
    height: 420px;
    z-index: 5;
    overflow: hidden;
    background-color: #FFF;
    }

#animate{
    position: absolute;
    bottom:0;
    left:0;
    opacity:0.4;
    }

#blendbutton {
    position: absolute;
    bottom: 100px;
    left: 113px;
    height: 50px;
    width: 100px;
    background: red;
    }

/* Blender ingredients */
.display-none {
    display: none;
    }

.kale {
    background: url(../images/kale.png) no-repeat;
    height: 33px;
    width: 250px;
    margin-top: -3px;
    }

.oj {
    background: url(../images/oj.png) no-repeat;
    height: 33px;
    width: 250px;
    margin-top: -3px;
    }

.banana {
    background: url(../images/banana.png) no-repeat;
    height: 33px;
    width: 250px;
    margin-top: -3px;
    }

.yogurt {
    background: url(../images/granola.png) no-repeat;
    height: 33px;
    width: 250px;
    margin-top: -3px;
    }
